services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq_nest
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: catalog
      RABBITMQ_DEFAULT_PASS: catalog123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  rabbitmq_data:
